<!DOCTYPE html>
<html>
<head>
  <title>My First App</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/application.js"></script>
</head>
<body style="padding-top: 50px;">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="/new_player">New Player</a></li>
      </ul>
      <% if session[:player_name] %>
      <p class="navbar-text pull-right">
        <%= session[:player_name] %> Credits: <%= session[:player_credit] %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
  <% end %>
<%= yield %>
</div>
</body>
</html>
